/* #d9d9d9 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Montserrat:ital,wght@1,200;1,300;1,400&family=Poppins:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c8c8c8;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px 90px 50px;
    align-items: stretch;
    height: 85vh;

}

img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    /* Maintain aspect ratio and cover the entire container */
}

.sidebar {
    flex: 1;
    background: #f2f2f2;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(185, 180, 180);
    margin-left: 40px;
    background: transparent;
}

.section {
    margin: 20px 20px 20px 20px;
}

h1,
h3,
p {
    font-family: Inter, sans-serif
}

h1 {
    font-size: large;
    color: #5f5f5f;
}

h3 {
    font-weight: normal;
    font-size: x-large;
    margin-top: 10px;
}

p {
    font-size: 17px;
    margin-top: 30px;
    color: #5f5f5f;
}

hr {
    border: 0,1 ;
}

.sidebar .avatar {
    display: flex;
    align-items: center;
}

.sidebar .avatar img {
    max-width: 50px; /* Adjust the max-width to make the image smaller */
    max-height: 50px; /* Adjust the max-height to maintain the aspect ratio */
    border-radius: 50%; /* Make the image rounded */
    margin-right: 10px;
}

.sidebar .avatar p {
    font-size: 12px;
    color: #777;
}

.avatar .time {
    text-align: right; /* Align the time to the right */
    font-size: 14px; /* Optional: adjust the font size */
    color: #888; /* Optional: style the color of the time */
}